*
{
	box-sizing: border-box;
}

html
{
	font-family: 'Open Sans', sans-serif;
}

body
{
	margin: 140px 0 0 0;
}

header
{
	box-sizing: content-box;
	background-color: #264173;
	padding: 10px 0 10px 0;
	height: 100px;
	width: 100%;
	display: grid;
	grid-template-columns: 120px 1fr 100px;

	position: fixed;
	top: 0;
	z-index: 9999;
	-webkit-transition: height .5s, line-height .5s; /* Safari */
	transition: height .5s, line-height .5s;

	box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
	-moz-box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
	-webkit-box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
}

/*=======Scroll header======*/
.scrolled-nav #logo
{
	height: 60px;
	width: auto;
}

.scrolled-nav > nav
{
	line-height: 41px;
}


.scrolled-nav 
{
	height: 60px !important;
	line-height: 20px !important;
	grid-template-columns: 80px 1fr 100px;
}
/*===========*/

#logo
{
	margin: 0 auto;
	padding-left: 10px;
	align-self: center;
	height: 100px;
	/*width: 100px;*/

	-webkit-transition: height .5s, width .5s; /* Safari */
	transition: height .5s, width .5s;
}

#headerText
{
	align-self: center;
	font-size: 30px;
	color: white;
	-webkit-transition: height .5s, width .5s; /* Safari */
}

#menuIcon
{
	align-self: center;
	font-size: 30px;
	color: white;
	margin-left: 40%;
}

/*=======MENU======*/
nav {grid-column: 1/4; padding-top: 5px;}

#menu
{
	font-size: 30px;
	color: white;
}

#menu>ul
{
	background-color: rgba(26,41,73,0.95); /*rgba(33,33,33,0.95)*/
	padding: 0;
	margin: 0;
	max-height: 0;
	width: 100%;
	overflow: hidden;
	transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
}


#menu>ul>li
{
	float: none;
	text-align: left;
	width: 100%;
	margin: 0;
	list-style-type: none;
}

#menu>ul>li>a
{
	color: #FFF;
	padding: 10px;
	border-bottom: 1px solid #FFF;	/*#404040*/
	display: block;
	margin: 0;
	text-decoration: none;
}

#menu>ul.show
{
	max-height: 20em;
}





.index-box
{
	overflow: hidden;
	margin-top: 1em;
	width: 95%;
	margin: 1em auto 0 auto;

	border: 2px #333 solid;
}

.index-box>a
{
	text-decoration: none;
}

.index-box-img0, .index-box-img1, .index-box-img2, .index-box-img3, .index-box-img4, .obrazky-box-img1, 
.obrazky-box-img2, .obrazky-box-img3, .obrazky-box-img4, .obrazky-box-img5
{
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	width: 100%;
	height: 300px;

	overflow: hidden;
	transition: .3s ease-out;
}
.index-box-img0
{
	background-image:
	-webkit-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/index0.jpg");
	background-image:
	-o-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/index0.jpg");
	background-image:
	linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/index0.jpg");
}
.index-box-img1
{
	background-image:
	-webkit-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/memes/nemcina/spolocna.jpg");
	background-image:
	-o-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/memes/nemcina/spolocna.jpg");
	background-image:
	linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/memes/nemcina/spolocna.jpg");
}
.index-box-img2
{
	background-image:
	-webkit-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/videa.gif");
	background-image:
	-o-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/videa.gif");
	background-image:
	linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/videa.gif");
}
.index-box-img3
{
	background-image:
	-webkit-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/index3.jpg");
	background-image:
	-o-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/index3.jpg");
	background-image:
	linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../images/index3.jpg");
}
.index-box-img4
{
	background-image:
	-webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/index4.jpg");
	background-image:
	-o-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/index4.jpg");
	background-image:
	linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/index4.jpg");
}

.obrazky-box-img1
{
	background-image:
	-webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/memes/gelnica.jpg");
	background-image:
	-o-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/memes/gelnica.jpg");
	background-image:
	linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/memes/gelnica.jpg");
}
.obrazky-box-img2
{
	background-image:
	-webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/memes/momentky/edo_wat2.jpg");
	background-image:
	-o-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/memes/momentky/edo_wat2.jpg");
	background-image:
	linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/memes/momentky/edo_wat2.jpg");
}
.obrazky-box-img3
{
	background-image:
	-webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/memes/nemcina/antworte.jpg");
	background-image:
	-o-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/memes/nemcina/antworte.jpg");
	background-image:
	linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/memes/nemcina/antworte.jpg");
}
.obrazky-box-img4
{
	background-image:
	-webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/memes/matika/gf.jpg");
	background-image:
	-o-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/memes/matika/gf.jpg");
	background-image:
	linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/memes/matika/gf.jpg");
}
.obrazky-box-img5
{
	background-image:
	-webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/memes/other/telesna.jpg");
	background-image:
	-o-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/memes/other/telesna.jpg");
	background-image:
	linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("../images/memes/other/telesna.jpg");
}

.index-box-text
{
	text-align: center;
	color: white;
	font-weight: 700;
	font-size: 30px;
	text-shadow: 1px 1px 20px black;
	
	position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index-box-img0:hover,.index-box-img1:hover, .index-box-img2:hover, .index-box-img3:hover, .index-box-img4:hover,
.obrazky-box-img1:hover, .obrazky-box-img2:hover, .obrazky-box-img3:hover, .obrazky-box-img4:hover, .obrazky-box-img5:hover
{
	transform: scale(1.15);
	transition: .3s ease-in;
}




.box
{
	margin: 1em 0 2.5em 0;
}

.box>h3
{
	font-size: 20px;
	padding-left: 5%;
}

.box>img
{
	display: block;
	margin: 0 auto;
	/*width: 90%;*/
	height: auto;

	box-shadow: 0 0 16px;
}




/*===========FOOTER=======*/

footer
{
	background-color: #212121;
	margin-top: 1em;
}

.footer-box
{
	padding: 2.2em;
	line-height: 24px;
}

.footer-nadpis
{
	text-transform: uppercase;
	color: #8E8E8E;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2px;
}

.footer-box>ul, .footer-box>p
{
	color: rgb(209,209,209);
	list-style-type: none;
	padding-left: 0;
	font-size: 14px;
	text-align: justify;
}

.footer-box>p {margin: 1em 0 1em 0;}

.footer-text>a, .footer-text>a:hover, .footer-text>a:visited
{
	text-transform: uppercase;
	color: #8E8E8E;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 2px;
	padding-left: 0.5em;
	text-decoration: none;
}

.footer-box>ul>li>.fas,.far{ margin-right: 10px; color: white}

#verzia-link
{
	text-decoration: none;
	color: inherit;
}




/*===========OBRAZKY==========*/
.mobile{display: block;}
.desktop{display: none;}

.content-nadpis
{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 36px;
	margin: 1em 0 0.8em 0;
}

.kategoria-link
{
	color: #333;
	text-decoration: none;
}

.kategoria:hover, input:hover
{
	background-color: #264173;
	color: #f5f5f5;
}

.kategoria
{
	background-color: #e6e6e6;
	padding: 1em;
	font-size: 14px;
	text-align: center;
	margin: 0 1em 7px 1em;
	border-radius: 5px;
}

/*VIDEA*/

video
{
	width: 90%;
	height: auto;
	margin: 0 5%;
}

/*CITATY*/

.citaty-content-nadpis
{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 36px;
	margin: 0.5em 0 0.8em 0;
}

.citat-box, .dialog-box
{
	margin: 1.1em;
}

.citat-group
{
    margin: 1em;
    padding: 0.2em 0 0.2em 0;
    box-shadow: 0 0 4px;
}


.citat
{
	font-family: 'Amatic SC', cursive;
	font-size: 28px;
	font-weight: 700;
	color: #264173;
	margin: 0 auto;
	text-align: center;
}

.citat-autor
{
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	text-align: right;
	margin: 6px 0 0 0;
}



/*Dialogy*/
    
.dialog-box
{
    /*width: 50%; /*iba pc*/
    box-shadow: 0 0 4px;
    padding: 1em;
    overflow: auto;
}

.dialog-nadpis
{
    margin-top: 0;
}

.dialog-text
{
   /* border: 1px solid black*/
}

.dialog-blue-name
{
    clear: both;
    
    color: gray;
    font-size: 14px;
    padding-right: 19px;
    
    text-align: right;
}

.dialog-blue
{
    clear: both;
    margin-top: 2px;
    margin-right: 10px;
    padding: 0.5em;
    
    background: #0084FF;
    color: white;
    
    border: 1px solid #0084FF;
    border-radius: 10px;
    max-width: 80%;
    
    display: inline-block;
    float: right;
}

.dialog-gray-name
{
    clear: both;
    color: gray;
    font-size: 14px;
    padding-left: 19px;
}

.dialog-gray
{
    clear: both;
    margin-top: 2px;
    margin-left: 10px;
    padding: 0.5em;
    background: #efefef;
    color: black;
    border: 1px solid #efefef;
    border-radius: 10px;
    max-width: 80%;
    
    display: inline-block;
}





/*about*/
.about-box
{
	margin: 1em;
	text-align: justify;
}

.about-box>p>img
{
	width: 100%;
	height: auto;
	margin: 1em 0 1em 0;
}

.about-podnadpis
{
	text-transform: uppercase;
	font-size: 22px;
	text-align: center;
	color: #264173;
}

input
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.about-podnadpis>a
{
	text-decoration: none;
	color: inherit;
}

/*==========NOVINKY============*/

.novinky-podnadpis
{
    font-size: 22px;
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

.ciara
{
    margin: 0 1.2em;
}

/*==========BLOCK VIEW============*/

.blok-div-btn
{
    margin: 1.2em;
}

.blok-div-btn-citaty
{
    margin: 1em;
}

.blok-btn
{
    font-size: 27px;
    text-align: center;
    font-weight: 700;
    font-family: inherit;
    
    background-color: #efefef;            /*default, rovnaka ako konverzacie gray */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
}

.blok-btn:after
{
    font-family: FontAwesome;
    content: '\f0d7';
    color: #264173;
    font-weight: 900;
    float: right;
    margin-left: 5px;
    margin-top: 5px;
    
    display: inline-block;
    transition: 0.4s;
}

.active, .blok-btn:hover
{
    background-color: #dadada;
}

.active:after 
{
    font-family: FontAwesome;
    font-weight: 900;
    content: "\f0d7";
    
    display: inline-block;
    transform: rotate(180deg);
    transition: 0.4s;
}

.blok-panel
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}


/*BTT BUTTON*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 17px;
    top: 11px;
    font-size: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* LEN NA PC VERZII
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}*/
/*=========*/

@media screen and (min-width: 600px) and (max-width: 1023px)       /*TABLET*/
{
	/*Memes - TABLET FLEXBOX*/

	.flex-row 
	{
		display: -ms-flexbox; /* IE10 */
		display: flex;
		-ms-flex-wrap: wrap; /* IE10 */
		flex-wrap: wrap;
		padding: 0 4px;
	}

	.flex-column 
	{
		-ms-flex: 50%; /* IE10 */
		flex: 50%;
		max-width: 50%;
		padding: 0 4px;
	}

	.flex-column .box 
	{
		margin-top: 8px;
		vertical-align: middle;
	}

	.box>img
	{
		width: 90%;
	}

	/*=========*/
	/*VIDEA TABLET*/

	.flex-row-vid
	{
		display: -ms-flexbox; /* IE10 */
		display: flex;
		-ms-flex-wrap: wrap; /* IE10 */
		flex-wrap: wrap;
		padding: 0 4px;
	}

	.flex-column-vid 
	{
		-ms-flex: 33%; /* IE10 */
		flex: 33%;
		max-width: 33%;
		padding: 0 4px;
	}

	.flex-column-vid .box 
	{
		margin-top: 8px;
		vertical-align: middle;
	}
    
    /*NOVINKY*/
    .novinky-podnadpis
    {
        font-size: 26px;
    }
}

@media screen and (min-width: 1024px)            /*PC*/
{
	body
	{
		margin: 160px 0 0 0;
	}
	
	header
	{
		grid-template-columns: 120px 150px 1fr;
	}

	nav
	{
		grid-column: 3/4;
		padding-top: 0;
		align-self: center;
		text-align: right;
		margin-right: 2.5%;
	}

	.scrolled-nav 
	{
		grid-template-columns: 80px 150px 1fr;
	}


	#menuIcon{display: none;}

	#menu>ul
	{
		background: none;
		max-height: none;
		width: auto;
	}

	#menu>ul>li
	{
		display: inline-block;
		padding: 0 1em;
		width: auto;
	}

	#menu>ul>li>a
	{
		padding: 5px 0px;
		border: none;
		display: inline-block;
		text-decoration: none;
		font-size: 24px;
	}
	/*===============*/

	#index-main
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 6px;
		margin: 0 2.5%;
	}

	.index-box
	{
		margin: 0;
		width: auto;
	}

	.index-box-img0,.index-box-img1, .index-box-img2, .index-box-img3, .index-box-img4,
	.obrazky-box-img1, .obrazky-box-img2, .obrazky-box-img3, .obrazky-box-img4, .obrazky-box-img5
	{
		height: 400px;
	}

	/*=========*/
	/*Memes - GENERAL FLEXBOX*/

	.flex-row 
	{
		display: -ms-flexbox; /* IE10 */
		display: flex;
		-ms-flex-wrap: wrap; /* IE10 */
		flex-wrap: wrap;
		padding: 0 4px;
	}

	.flex-column 
	{
		-ms-flex: 25%; /* IE10 */
		flex: 25%;
		max-width: 25%;
		padding: 0 4px;
	}

	.flex-column .box 
	{
		margin-top: 8px;
		vertical-align: middle;
	}

	.box>img
	{
		width: 90%;
	}

	/*=========*/
	/*VIDEA*/

	.flex-row-vid
	{
		display: -ms-flexbox; /* IE10 */
		display: flex;
		-ms-flex-wrap: wrap; /* IE10 */
		flex-wrap: wrap;
		padding: 0 4px;
	}

	.flex-column-vid 
	{
		-ms-flex: 33%; /* IE10 */
		flex: 33%;
		max-width: 33%;
		padding: 0 4px;
	}

	.flex-column-vid .box 
	{
		margin-top: 8px;
		vertical-align: middle;
	}

	/*=========*/
	/*ABOUT*/
	#about-main
	{
		margin: 0 13%;
		font-size: 18px;
	}
	.about-podnadpis
	{
		font-size: 28px;
	}
	/*=========*/
	/*CITATY*/
	
	#citaty-main
	{
		margin: 0 13%;
	}	

	.citat
	{
		font-size: 44px;
	}

	.citat-autor
	{
		font-size: 32px;
	}

	.citat-group
	{
		/*margin: 1em 0 1em 0;           update 1.2, bug z tienom na bokoch citat-group */
		padding: 0.6em 0 0.6em 0;
		box-shadow: 0 0 4px;
	}
    
    /*dialogy*/
    
    .dialog-row
	{
		display: -ms-flexbox; /* IE10 */
		display: flex;
		-ms-flex-wrap: wrap; /* IE10 */
		flex-wrap: wrap;
	}

	.dialog-column
	{
		-ms-flex: 50%; /* IE10 */
		flex: 50%;
		max-width: 50%;
	}

	/*.flex-column-vid .box 
	{
		margin-top: 8px;
		vertical-align: middle;
	}*/
    
    
    
    
    

	/*OBRAZKY-KATEGORIE*/
	.mobile{display: none;}
	.desktop{display: block;}

	#obrazky-desktop
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 6px;
		margin: 0 2.5%;
	}

	.wide-grid{grid-column: 1/3;} 	/*karta other*/

    /*========================================================*/
    
    /*NOVINKY*/
    .novinky-podnadpis
    {
        font-size: 26px;
    }
    .ciara
    {
        margin: 0 1.6%;
    }
    

	/*==========*/
	/*BACK TO TOP HOVER*/
	#return-to-top:hover 
	{
		background: rgba(0, 0, 0, 0.9);
	}
	#return-to-top:hover i 
	{
		color: #fff;
		top: 5px;
	}

	/*==============*/
	/* Underline Menu Efekt */
	.hvr-underline-reveal {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px transparent;
		position: relative;
		overflow: hidden;
	}
	.hvr-underline-reveal:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		bottom: 0;
		background: #FFF;
		height: 2px;
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

}

@media screen and (max-width: 1023px) 
{
	.box>img
	{
		width: 90%;
	}
}